<!--**********************************
    Sidebar start
***********************************-->
<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/voter/dashboard" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-025-dashboard"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
        </ul>
        <div class="copyright">
            <p><strong>Owlio Election Manager </strong> © 2023 All Rights Reserved</p>
            <p class="fs-12">Made with <span class="heart"></span> by Zaddy Team</p>
        </div>
    </div>
</div>
<!--**********************************
    Sidebar end
***********************************-->